body::before {
    background: url('../pic/milk.gif.pagespeed.ce.Ew4WbVd6U6.gif') no-repeat center center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    box-shadow: 0 0 0 1em #beacb5;
}